body {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  height: 922px;
  position: relative;
  background-color: #E5E5E5;
}

.header__high-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  display: inline-block;
  margin-left: 110px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Merriweather', serif;
  font-size: 14px;
  color: black;
  margin-left: 53%;
  margin-top: 24px;
}

.header__menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu ul li {
  margin-left: 50px;
}

.header__menu ul li a {
  text-decoration: none;
  color: black;
}

.header__menu-burger {
  cursor: pointer;
  margin-left: 10%;
  padding-top: 2%;
}

.header__hide-menu {
  display: inline-block;
  position: absolute;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  top: 8%;
  left: 88.1%;
  width: 200px;
}

.header__hide-menu ul {
  list-style: none;
  padding: 0 0;
  margin: 0 0;
}

.header__hide-menu li {
  text-align: center;
  margin-bottom: 6px;
}

.header__hide-menu a {
  text-align: center;
  color: black;
  text-decoration: none;
  font-family: 'Merriweather', serif;
  font-size: 14px;
}

.header__hide-menu a:hover {
  font-size: 15px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header__hide-menu.active {
  opacity: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header__training, .header .header__offendiens, .header .header__breeders, .header .header__guard {
  position: absolute;
}

.header__training a, .header .header__offendiens a, .header .header__breeders a, .header .header__guard a {
  font-size: 38px;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.header__training p, .header .header__offendiens p, .header .header__breeders p, .header .header__guard p {
  font-size: 14px;
  font-family: 'Merriweather', serif;
}

.header__training:hover a, .header .header__offendiens:hover a, .header .header__breeders:hover a, .header .header__guard:hover a {
  font-size: 64px;
  color: #327551;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__training {
  left: 268px;
  top: 131px;
}

.header__offendiens {
  left: 176px;
  top: 328px;
}

.header__breeders {
  left: 268px;
  top: 529px;
}

.header__guard {
  left: 1429px;
  top: 241px;
}

.header__reference {
  position: absolute;
  left: 120px;
  top: 753px;
  font-family: 'Merriweather', serif;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__reference img {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

.header__reference a {
  text-decoration: none;
  color: black;
}

.header__model {
  background-color: #E5E5E5;
  z-index: 3;
  margin-left: 27%;
}

.content {
  width: 100%;
}

.Reliable-dog {
  height: 1019px;
  width: 100%;
  margin-top: -19px;
  background: url("../img/main/backGreenFon.png") no-repeat, url("../img/main/greenFon.png") right no-repeat;
  background-blend-mode: multiply;
  position: relative;
}

.Reliable-dog__description {
  width: 726px;
  height: 285px;
  color: white;
  font-family: 'Merriweather', serif;
  font-size: 18px;
  margin-left: 3%;
  padding-top: 8%;
}

.Reliable-dog__description span {
  font-size: 48px;
  font-family: 'Oswald', sans-serif;
  line-height: 2;
}

.Reliable-dog__description a {
  color: white;
  font-family: 'Merriweather', serif;
}

.Reliable-dog__logo-big {
  position: absolute;
  left: 63%;
  top: 19%;
}

.Reliable-dog__social {
  margin-left: 3%;
  padding-bottom: 10px;
  margin-top: 22%;
}

.Reliable-dog__social p {
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  color: white;
  margin-bottom: 10px;
}

.Reliable-dog__social ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
}

.Reliable-dog__social i {
  color: white;
  font-size: 60px;
  margin-right: 63px;
  cursor: pointer;
}

.mainPageBreeds {
  height: 924px;
  margin-bottom: 89px;
  position: relative;
}

.mainPageBreeds__description {
  width: 726px;
  height: 285px;
  font-family: 'Merriweather', serif;
  font-size: 18px;
  margin-left: 3%;
  padding-top: 4%;
}

.mainPageBreeds__description span {
  font-size: 48px;
  font-family: 'Oswald', sans-serif;
  line-height: 2;
}

.mainPageBreeds__description a {
  font-family: 'Merriweather', serif;
  color: black;
}

.mainPageBreeds__reference {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  left: 52%;
  top: 25%;
}

.mainPageBreeds__reference a {
  color: black;
  text-decoration: none;
  font-family: 'Merriweather', serif;
  font-size: 14;
}

.mainPageBreeds__reference img {
  margin-right: 10px;
  width: 60px;
  height: 60px;
}

.mainPageBreeds__dogsRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 200px;
}

.mainPageBreeds__firstDog {
  width: 726px;
  height: 307px;
  margin-right: 10px;
  position: relative;
  float: right;
}

.mainPageBreeds__firstDog img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.mainPageBreeds__firstDog span {
  font-size: 38px;
  font-family: 'Oswald', sans-serif;
  line-height: 2;
}

.mainPageBreeds__firstDog a {
  color: black;
  font-family: 'Merriweather', serif;
}

.mainPageBreeds__firstDog p {
  font-family: 'Merriweather', serif;
  position: absolute;
  top: 40%;
  left: 16%;
  z-index: 2;
}

.mainPageBreeds__secondDog {
  width: 726px;
  height: 307px;
  margin-right: 10px;
  position: relative;
  float: right;
}

.mainPageBreeds__secondDog img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.mainPageBreeds__secondDog span {
  font-size: 38px;
  font-family: 'Oswald', sans-serif;
  line-height: 2;
}

.mainPageBreeds__secondDog a {
  color: black;
  font-family: 'Merriweather', serif;
}

.mainPageBreeds__secondDog p {
  font-family: 'Merriweather', serif;
  position: absolute;
  top: 40%;
  left: 16%;
  z-index: 2;
}

.mainPageBreeds__thirdDog {
  width: 726px;
  height: 307px;
  margin-right: 10px;
  position: relative;
  float: right;
}

.mainPageBreeds__thirdDog img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.mainPageBreeds__thirdDog span {
  font-size: 38px;
  font-family: 'Oswald', sans-serif;
  line-height: 2;
}

.mainPageBreeds__thirdDog a {
  color: black;
  font-family: 'Merriweather', serif;
}

.mainPageBreeds__thirdDog p {
  font-family: 'Merriweather', serif;
  position: absolute;
  top: 40%;
  left: 16%;
  z-index: 2;
}

.footer {
  background: radial-gradient(65.16% 565.02% at 81.43% 50%, #E0E0E0 0%, #FFFDFA 50.61%, #E0E0E0 100%);
  position: relative;
  height: 750px;
}

.footer__logo {
  width: 294px;
  height: 118px;
  position: absolute;
  left: 5.5%;
  top: 15%;
}

.footer__social {
  position: absolute;
  left: 6.5%;
  top: 34%;
}

.footer__social p {
  font-size: 18px;
  font-family: 'Merriweather', serif;
}

.footer__social img {
  margin-right: 7px;
  cursor: pointer;
}

.footer__phone {
  position: absolute;
  font-size: 18px;
  font-family: 'Merriweather', serif;
  left: 6.3%;
  top: 55%;
}

.footer__phone span {
  font-size: 38px;
  font-family: 'Oswald', sans-serif;
  line-height: 1.8;
}

.footer__about-dog {
  position: absolute;
  left: 27%;
  top: 15%;
}

.footer__about-dog span {
  font-size: 38px;
  font-family: 'Oswald', sans-serif;
  line-height: 1.8;
}

.footer__about-dog ul {
  list-style: none;
  padding-left: 0px;
}

.footer__about-dog ul li {
  font-family: 'Merriweather', serif;
  font-size: 18px;
  padding-bottom: 10px;
}

.footer__about-dog ul li a {
  color: black;
  text-decoration: none;
}

.footer__programms {
  position: absolute;
  left: 48%;
  top: 15%;
}

.footer__programms span {
  font-size: 38px;
  font-family: 'Oswald', sans-serif;
  line-height: 1.8;
}

.footer__programms ul {
  list-style: none;
  padding-left: 0px;
}

.footer__programms ul li {
  font-family: 'Merriweather', serif;
  font-size: 18px;
  padding-bottom: 10px;
}

.footer__programms ul li a {
  color: black;
  text-decoration: none;
}
