body {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  height: 922px;
  position: relative;
  background-color: #E5E5E5;
  overflow: hidden;
}

.header__high-row {
  width: 100%;
  padding-top: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  display: inline-block;
  margin-left: 110px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Merriweather', serif;
  font-size: 14px;
  color: black;
  margin-top: 24px;
  margin-left: auto;
}

.header__menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu ul li {
  margin-left: 50px;
}

.header__menu ul li a {
  text-decoration: none;
  color: black;
}

.header__left-part {
  width: 20%;
}

.header__right-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  padding-right: 10%;
}

.header__menu-burger {
  cursor: pointer;
  z-index: 2;
  margin-left: 20px;
  padding-top: 30px;
  display: none;
}

.header__menu-burger img {
  margin-left: 5px;
}

.header__hide-menu {
  display: block;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-left: -78px;
  width: 200px;
}

.header__hide-menu ul {
  list-style: none;
  padding: 0 0;
  margin: 0 0;
}

.header__hide-menu li {
  text-align: center;
  margin-bottom: 6px;
}

.header__hide-menu a {
  text-align: center;
  color: black;
  text-decoration: none;
  font-family: 'Merriweather', serif;
  font-size: 14px;
}

.header__hide-menu a:hover {
  font-size: 15px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header__hide-menu.active {
  opacity: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header__training, .header .header__offendiens, .header .header__breeders, .header .header__guard {
  z-index: 2;
  position: absolute;
}

.header__training a, .header .header__offendiens a, .header .header__breeders a, .header .header__guard a {
  font-size: 38px;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.header__training p, .header .header__offendiens p, .header .header__breeders p, .header .header__guard p {
  font-size: 14px;
  font-family: 'Merriweather', serif;
}

.header__training:hover a, .header .header__offendiens:hover a, .header .header__breeders:hover a, .header .header__guard:hover a {
  font-size: 64px;
  color: #327551;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__training {
  display: inline-block;
  left: 268px;
  top: 131px;
}

.header__offendiens {
  display: inline-block;
  left: 176px;
  top: 328px;
}

.header__breeders {
  display: inline-block;
  left: 268px;
  top: 529px;
}

.header__guard {
  display: inline-block;
  left: 75%;
  top: 25%;
}

.header__reference {
  display: inline-block;
  position: absolute;
  left: 120px;
  top: 753px;
  font-family: 'Merriweather', serif;
  font-size: 14px;
}

.header__reference img {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

.header__reference a {
  text-decoration: none;
  color: black;
}

.header__model {
  display: inline-block;
  background-color: #E5E5E5;
  z-index: 3;
}

.header__fon {
  display: none;
}

@media (max-width: 1910px) {
  .header__model {
    display: none;
  }
  .header__fon {
    display: inline-block;
    position: absolute;
    width: 60%;
    left: 36%;
    top: 13%;
  }
  .header__fon img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1024px) {
  .header {
    height: 725px;
  }
  .header__logo {
    margin-left: 50px;
  }
  .header__training {
    left: 12%;
    top: 16%;
  }
  .header__offendiens {
    left: 4%;
    top: 43%;
  }
  .header__breeders {
    left: 17%;
    top: 71%;
  }
  .header__guard {
    left: 67%;
    top: 21%;
  }
  .header__reference {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 2%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 93%;
    font-size: 10px;
  }
  .header__reference img {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 768px) {
  .header {
    height: 545px;
  }
  .header__training a, .header .header__offendiens a, .header .header__breeders a, .header .header__guard a {
    font-size: 30px;
  }
  .header__training p, .header .header__offendiens p, .header .header__breeders p, .header .header__guard p {
    font-size: 11px;
  }
  .header__reference {
    top: 92%;
  }
}

@media (max-width: 425px) {
  .header {
    height: 395px;
  }
  .header__training a, .header .header__offendiens a, .header .header__breeders a, .header .header__guard a {
    font-size: 20px;
  }
  .header__training p, .header .header__offendiens p, .header .header__breeders p, .header .header__guard p {
    font-size: 7px;
  }
  .header__logo {
    margin-left: 5px;
  }
  .header__logo img {
    width: 141px;
  }
  .header__menu-burger {
    margin-left: 197px;
  }
  .header__right-part {
    padding-right: 14px;
  }
  .header__menu {
    font-size: 11px;
    margin-top: 11px;
  }
  .header__menu ul li {
    margin-left: 17px;
  }
  .header__menu li {
    margin-left: 15px;
  }
  .header__fon {
    width: 77%;
    left: 24%;
    top: 25%;
  }
  .header__training {
    left: 7%;
    top: 18%;
  }
  .header__offendiens {
    left: 3%;
    top: 49%;
  }
  .header__breeders {
    left: 6%;
    top: 73%;
  }
  .header__guard {
    left: 60%;
    top: 25%;
  }
  .header__reference {
    display: none;
  }
}

@media (max-width: 375px) {
  .header {
    height: 420px;
  }
  .header__menu-burger {
    margin-left: 185px;
  }
  .header__hide-menu a {
    font-size: 12px;
  }
  .header__right-part {
    padding-right: 7px;
  }
  .header__fon {
    width: 101%;
    left: 64%;
    top: 10%;
  }
  .header__training {
    left: 8%;
    top: 21%;
  }
  .header__offendiens {
    left: 8%;
    top: 37%;
  }
  .header__breeders {
    left: 7%;
    top: 54%;
  }
  .header__guard {
    left: 7%;
    top: 74%;
  }
  .header__reference {
    display: none;
  }
  .header__menu {
    font-size: 10px;
  }
}

@media (max-width: 320px) {
  .header__logo {
    margin-left: 3px;
  }
  .header__logo img {
    width: 129px;
  }
  .header__menu {
    font-size: 9px;
  }
  .header__menu ul li {
    margin-left: 13px;
  }
}

.content {
  width: 100%;
  display: none;
}

.Reliable-dog {
  height: 1019px;
  width: 100%;
  margin-top: -19px;
  background: url("../img/main/backGreenFon.png") no-repeat;
  background-size: 100% 100%;
  background-blend-mode: multiply;
  position: relative;
}

.Reliable-dog__description {
  width: 726px;
  height: 285px;
  color: white;
  font-family: 'Merriweather', serif;
  font-size: 18px;
  margin-left: 3%;
  padding-top: 8%;
}

.Reliable-dog__description span {
  font-size: 48px;
  font-family: 'Oswald', sans-serif;
  line-height: 2;
}

.Reliable-dog__description a {
  color: white;
  font-family: 'Merriweather', serif;
}

.Reliable-dog__logo-big {
  position: absolute;
  left: 63%;
  top: 19%;
}

.Reliable-dog__social {
  margin-left: 3%;
  padding-bottom: 10px;
  margin-top: 22%;
}

.Reliable-dog__social p {
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  color: white;
  margin-bottom: 10px;
}

.Reliable-dog__social ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
}

.Reliable-dog__social i {
  color: white;
  font-size: 60px;
  margin-right: 63px;
  cursor: pointer;
}

.mainPageBreeds {
  display: none;
  height: 924px;
  margin-bottom: 89px;
  position: relative;
}

.mainPageBreeds__description {
  width: 726px;
  height: 285px;
  font-family: 'Merriweather', serif;
  font-size: 18px;
  margin-left: 3%;
  padding-top: 4%;
}

.mainPageBreeds__description span {
  font-size: 48px;
  font-family: 'Oswald', sans-serif;
  line-height: 2;
}

.mainPageBreeds__description a {
  font-family: 'Merriweather', serif;
  color: black;
}

.mainPageBreeds__reference {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  left: 52%;
  top: 25%;
}

.mainPageBreeds__reference a {
  color: black;
  text-decoration: none;
  font-family: 'Merriweather', serif;
  font-size: 14;
}

.mainPageBreeds__reference img {
  margin-right: 10px;
  width: 60px;
  height: 60px;
}

.mainPageBreeds__dogsRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 200px;
}

.mainPageBreeds__firstDog {
  width: 726px;
  height: 307px;
  margin-right: 10px;
  position: relative;
  float: right;
}

.mainPageBreeds__firstDog img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.mainPageBreeds__firstDog span {
  font-size: 38px;
  font-family: 'Oswald', sans-serif;
  line-height: 2;
}

.mainPageBreeds__firstDog a {
  color: black;
  font-family: 'Merriweather', serif;
}

.mainPageBreeds__firstDog p {
  font-family: 'Merriweather', serif;
  position: absolute;
  top: 40%;
  left: 16%;
  z-index: 2;
}

.mainPageBreeds__secondDog {
  width: 726px;
  height: 307px;
  margin-right: 10px;
  position: relative;
  float: right;
}

.mainPageBreeds__secondDog img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.mainPageBreeds__secondDog span {
  font-size: 38px;
  font-family: 'Oswald', sans-serif;
  line-height: 2;
}

.mainPageBreeds__secondDog a {
  color: black;
  font-family: 'Merriweather', serif;
}

.mainPageBreeds__secondDog p {
  font-family: 'Merriweather', serif;
  position: absolute;
  top: 40%;
  left: 16%;
  z-index: 2;
}

.mainPageBreeds__thirdDog {
  width: 726px;
  height: 307px;
  margin-right: 10px;
  position: relative;
  float: right;
}

.mainPageBreeds__thirdDog img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.mainPageBreeds__thirdDog span {
  font-size: 38px;
  font-family: 'Oswald', sans-serif;
  line-height: 2;
}

.mainPageBreeds__thirdDog a {
  color: black;
  font-family: 'Merriweather', serif;
}

.mainPageBreeds__thirdDog p {
  font-family: 'Merriweather', serif;
  position: absolute;
  top: 40%;
  left: 16%;
  z-index: 2;
}

@media (max-width: 1440px) {
  .Reliable-dog {
    height: 900px;
  }
  .Reliable-dog__logo-big {
    width: 30%;
    top: 14%;
  }
  .Reliable-dog__description {
    font-size: 16px;
  }
  .Reliable-dog__social p {
    font-size: 45px;
  }
  .Reliable-dog__social i {
    font-size: 53px;
  }
}

@media (max-width: 1024px) {
  .Reliable-dog {
    height: 700px;
  }
  .Reliable-dog__logo-big {
    top: 18%;
  }
  .Reliable-dog__description {
    font-size: 13px;
    width: 500px;
    padding-top: 2%;
  }
  .Reliable-dog__description span {
    font-size: 45px;
  }
  .Reliable-dog__social {
    margin-top: 13%;
  }
  .Reliable-dog__social p {
    font-size: 35px;
  }
  .Reliable-dog__social i {
    font-size: 31px;
  }
}

@media (max-width: 768px) {
  .Reliable-dog {
    height: 500px;
  }
  .Reliable-dog__description {
    font-size: 12px;
    width: 380px;
  }
  .Reliable-dog__description span {
    font-size: 35px;
  }
}

@media (max-width: 425px) {
  .Reliable-dog {
    height: 300px;
  }
  .Reliable-dog__description {
    font-size: 7px;
    width: 49%;
  }
  .Reliable-dog__description span {
    font-size: 14px;
  }
  .Reliable-dog__social {
    margin-top: -18%;
  }
  .Reliable-dog__social p {
    font-size: 14px;
    margin-bottom: 0px;
  }
  .Reliable-dog__social i {
    font-size: 14px;
    margin-right: 23px;
  }
  .Reliable-dog__social ul {
    margin-top: 6px;
  }
}

@media (max-width: 375px) {
  .Reliable-dog {
    height: 250px;
  }
}

@media (max-width: 320px) {
  .Reliable-dog {
    height: 200px;
  }
}

.footer {
  display: none;
  background: radial-gradient(65.16% 565.02% at 81.43% 50%, #E0E0E0 0%, #FFFDFA 50.61%, #E0E0E0 100%);
  position: relative;
  height: 750px;
}

.footer__logo {
  width: 294px;
  height: 118px;
  position: absolute;
  left: 5.5%;
  top: 15%;
}

.footer__social {
  position: absolute;
  left: 6.5%;
  top: 34%;
}

.footer__social p {
  font-size: 18px;
  font-family: 'Merriweather', serif;
}

.footer__social img {
  margin-right: 7px;
  cursor: pointer;
}

.footer__phone {
  position: absolute;
  font-size: 18px;
  font-family: 'Merriweather', serif;
  left: 6.3%;
  top: 55%;
}

.footer__phone span {
  font-size: 38px;
  font-family: 'Oswald', sans-serif;
  line-height: 1.8;
}

.footer__about-dog {
  position: absolute;
  left: 27%;
  top: 15%;
}

.footer__about-dog span {
  font-size: 38px;
  font-family: 'Oswald', sans-serif;
  line-height: 1.8;
}

.footer__about-dog ul {
  list-style: none;
  padding-left: 0px;
}

.footer__about-dog ul li {
  font-family: 'Merriweather', serif;
  font-size: 18px;
  padding-bottom: 10px;
}

.footer__about-dog ul li a {
  color: black;
  text-decoration: none;
}

.footer__programms {
  position: absolute;
  left: 48%;
  top: 15%;
}

.footer__programms span {
  font-size: 38px;
  font-family: 'Oswald', sans-serif;
  line-height: 1.8;
}

.footer__programms ul {
  list-style: none;
  padding-left: 0px;
}

.footer__programms ul li {
  font-family: 'Merriweather', serif;
  font-size: 18px;
  padding-bottom: 10px;
}

.footer__programms ul li a {
  color: black;
  text-decoration: none;
}
