* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 2049px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}

.wrapper {
  max-width: 2049px;
  margin: 0 auto;
}

.header {
  display: none;
}

.menu-burger {
  display: none;
}

.header__currency {
  color: gray;
  padding-top: 3px;
  width: 145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20%;
}

.header__currency .header__select {
  position: relative;
  width: 80px;
  height: 20px;
  margin-top: 11px;
}

.header__currency .header__select[data-state="active"] .header__select__title::before {
  -webkit-transform: translate(-3px, -50%) rotate(-45deg);
          transform: translate(-3px, -50%) rotate(-45deg);
}

.header__currency .header__select[data-state="active"] .header__select__title::after {
  -webkit-transform: translate(3px, -50%) rotate(45deg);
          transform: translate(3px, -50%) rotate(45deg);
}

.header__currency .header__select[data-state="active"] .header__select__content {
  opacity: 1;
}

.header__currency .header__select[data-state="active"] .header__select__label + .header__select__input + .header__select__label {
  max-height: 40px;
  border-top-width: 1px;
}

.header__currency .header__select__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  border-radius: 5px;
  /*border: solid 1px grey;*/
  cursor: pointer;
}

.header__currency .header__select__title::before, .header__currency .header__select__title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  display: block;
  width: 10px;
  height: 2px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: #333333;
  -webkit-transform: translate(-3px, -50%) rotate(45deg);
          transform: translate(-3px, -50%) rotate(45deg);
}

.header__currency .header__select__title::after {
  -webkit-transform: translate(3px, -50%) rotate(-45deg);
          transform: translate(3px, -50%) rotate(-45deg);
}

.header__currency .header__select__title:hover {
  border-color: #575757;
}

.header__currency .header__select__title:hover::before, .header__currency .header__select__title:hover::after {
  background-color: #575757;
}

.header__currency .header__select__content {
  position: absolute;
  top: 40px;
  left: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% - 6px);
  background-color: #ffffff;
  border: 1px solid #c7ccd1;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 0;
  z-index: 8;
}

.header__currency .header__select__input {
  display: none;
}

.header__currency .header__select__input:checked + label {
  background-color: #dedede;
}

.header__currency .header__select__input:disabled + label {
  opacity: 0.6;
  pointer-events: none;
}

.header__currency .header__select__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
  max-height: 0;
  padding: 0 16px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
  overflow: hidden;
}

.header__currency .header__select__label + input + .header__currency .header__select__label {
  border-top: 0 solid #c7ccd160;
}

.header__currency .header__select__label:hover {
  background-color: #575757 !important;
  color: #ffffff;
}

.header__first-row {
  background-color: #333333;
  height: 46px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__first-row a {
  text-decoration: none;
  color: grey;
}

.header__first-row .header__cart {
  color: white;
  z-index: 2;
  background-color: #00c8c8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 80px;
  width: 150px;
  max-height: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.header__first-row .header__cart i {
  font-size: 15px;
  margin-right: 10px;
}

.header__first-row .Register-Cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__first-row .Register-Cart p {
  margin-left: 22px;
  margin-right: 5px;
}

.header__first-row .cart-angle {
  margin-left: 10px;
}

.header__first-row .Register {
  margin-right: 35px;
}

.header__register-and-sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 31%;
}

.header__down-slide {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
}

.header__first-row:before {
  display: none;
  position: fixed;
  position: absolute;
  content: "";
  width: 100%;
  height: 46px;
  background-color: #333333;
}

.nav-mobile {
  display: none;
  width: 100%;
  color: grey;
  font-size: 25px;
  margin-top: 47px;
}

.nav-mobile ul {
  list-style-type: none;
}

.nav-mobile ul li {
  padding-top: 5px;
}

.header__mens-list,
.header__womens-list {
  display: none;
  z-index: 3;
  color: grey;
}

.header__background {
  display: block;
  position: relative;
  padding: 0 0 920px 0;
}

.header__background .main-image {
  position: absolute;
  max-width: 100%;
  top: 0;
  z-index: -1;
}

.header__logo {
  display: inline-block;
  position: absolute;
  margin-left: 5%;
  margin-top: 3%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.header__second-row {
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-top: 37px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__second-row .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  margin-left: auto;
  margin-right: 15%;
  z-index: 6;
}

.header__second-row .nav #The-band {
  vertical-align: top;
}

.header__second-row .nav ul {
  display: block;
}

.header__second-row .nav li {
  display: inline-block;
  margin-left: 55px;
  font-weight: 600;
  cursor: pointer;
}

.header__second-row .nav li:hover {
  color: #00c8c8;
}

.header__second-row .header__search {
  display: inline-block;
  margin-left: 30px;
}

.header__second-row .header__men-menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 467px;
  height: 527px;
  background-color: white;
  -webkit-box-shadow: 0px 17px 24px 0px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 17px 24px 0px rgba(0, 0, 0, 0.14);
}

.header__second-row .header__men-menu .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__second-row .header__men-menu .header__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}

.header__second-row .header__men-menu .header__list ul .header__casuals {
  font-size: 12px;
  font-family: "Montserrat";
  color: #575153;
  text-transform: uppercase;
  line-height: 3.667;
  text-align: left;
  left: 1038.937px;
  top: 162.998px;
}

.header__second-row .header__men-menu .header__list ul li {
  line-height: 2.143;
  text-align: left;
}

.header__second-row .header__men-menu .header__list ul li a {
  text-decoration: none;
  color: #727272;
}

.header__second-row .header__men-menu .header__men-offer {
  margin: 0 auto;
  background-color: #333333;
  width: 407px;
  height: 200px;
}

.header__second-row .header__men-menu .header__men-offer p {
  font-size: 36px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.333;
  text-align: center;
}

.header__second-row .header__men-menu .header__men-offer p span {
  font-weight: 500;
}

.header__second-row .header__women-menu {
  display: none;
  left: 1070px;
  top: 92px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 467px;
  height: 527px;
  background-color: white;
  -webkit-box-shadow: 0px 17px 24px 0px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 17px 24px 0px rgba(0, 0, 0, 0.14);
}

.header__second-row .header__women-menu .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__second-row .header__women-menu .header__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}

.header__second-row .header__women-menu .header__list ul .header__casuals {
  font-size: 12px;
  font-family: "Montserrat";
  color: #575153;
  text-transform: uppercase;
  line-height: 3.667;
  text-align: left;
  left: 1038.937px;
  top: 162.998px;
}

.header__second-row .header__women-menu .header__list ul li {
  line-height: 2.143;
  text-align: left;
}

.header__second-row .header__women-menu .header__list ul li a {
  text-decoration: none;
  color: #727272;
}

.header__second-row .header__women-menu .header__men-offer {
  margin: 0 auto;
  background-color: #333333;
  width: 407px;
  height: 200px;
}

.header__second-row .header__women-menu .header__men-offer p {
  font-size: 36px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.333;
  text-align: center;
}

.header__second-row .header__women-menu .header__men-offer p span {
  font-weight: 500;
}

.header__second-row .header__button {
  position: absolute;
  text-align: center;
  padding-top: 18px;
  text-decoration: none;
  color: #737373;
  font-size: 16px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-weight: 400;
  letter-spacing: 3px;
  top: 700px;
  left: 67%;
  width: 341px;
  height: 58px;
  border: 2px solid #737373;
}

.header__second-row .header__button:hover {
  background-color: #00c8c8;
  color: white;
  border: none;
}

@media (max-width: 1900px) {
  .header__second-row .header__button {
    top: 660px;
    left: 58%;
  }
}

@media (max-width: 1700px) {
  .header__second-row .header__button {
    top: 600px;
    left: 58%;
  }
}

@media (max-width: 1600px) {
  .header__second-row .header__button {
    top: 550px;
    left: 58%;
  }
}

@media (max-width: 1500px) {
  .header__second-row .header__button {
    top: 520px;
    left: 58%;
  }
  .header__second-row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__second-row .nav {
    margin-right: 0px;
  }
}

@media (max-width: 1400px) {
  .header__second-row .header__button {
    top: 500px;
    left: 58%;
  }
}

@media (max-width: 1300px) {
  .header__second-row .header__button {
    top: 450px;
    left: 58%;
    width: 300px;
  }
}

@media (max-width: 1200px) {
  .header__second-row .header__button {
    top: 400px;
  }
  .header__second-row .nav li {
    margin-left: 30px;
  }
}

@media (max-width: 1100px) {
  .header__register-and-sign {
    margin-left: 15%;
  }
  .header__second-row .header__button {
    top: 370px;
  }
}

@media (max-width: 970px) {
  .header__second-row .header__button {
    display: none;
  }
  .header__second-row .nav {
    display: none;
  }
  .header__logo {
    margin-left: 67%;
  }
  .menu-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 3;
    width: 50px;
    height: 20px;
    margin-top: 14px;
    margin-left: 30px;
  }
  .menu-burger span {
    position: absolute;
    left: 0;
    top: 8px;
    width: 100%;
    height: 3px;
    background-color: white;
    z-index: 3;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__down-slide {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .header__down-slide.active {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    top: 0;
  }
  .header__cart {
    margin-right: 30px;
  }
  .menu-burger:before {
    content: "";
    position: absolute;
    background-color: white;
    width: 100%;
    height: 3px;
    top: 0;
    left: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .menu-burger:after {
    content: "";
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .menu-burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .menu-burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .menu-burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__first-row:before {
    display: block;
    z-index: 2;
  }
  .header__select__title {
    padding: 12px 16px !important;
  }
  .header__select__label {
    padding: 0px 4px !important;
  }
  .header__select__title:after,
  .header__select__title::before {
    top: 101% !important;
    right: -9px !important;
  }
  .nav-mobile {
    display: block;
  }
  .header__down-slide {
    position: fixed;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #212224;
  }
  .header__currency {
    z-index: 3;
  }
  .header__register-and-sign {
    z-index: 3;
    margin-left: 10px;
    white-space: nowrap;
  }
}

@media (max-width: 800px) {
  .header__logo {
    margin-left: 63%;
    display: none;
  }
}

@media (max-width: 965px) {
  .header__currency {
    margin-left: 15%;
  }
}

@media (max-width: 830px) {
  .header__register-and-sign {
    margin-left: 2%;
  }
  .header__cart {
    margin-left: 30px;
  }
}

@media (max-width: 770px) {
  .header__first-row {
    z-index: 50;
  }
  .menu-burger {
    z-index: 50;
  }
  .header__currency {
    margin-left: 8%;
  }
}

@media (max-width: 700px) {
  .header__first-row {
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background-color: #474747;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__currency {
    display: none;
    position: absolute;
    left: 9%;
    top: 10%;
    font-size: 20px;
    margin-left: 0;
  }
  .Register {
    display: none;
    position: absolute;
    font-size: 20px;
    left: 9%;
    top: 19%;
  }
  .Sign-in {
    display: none;
    position: absolute;
    font-size: 20px;
    left: 9%;
    top: 24%;
  }
}

.assortment {
  display: block;
  padding-top: 56px;
  margin: 62px 7%;
  width: 87%;
  border-top: 1px solid #eeeeee;
}

.assortment input[type="radio"] {
  display: none;
}

.assortment label {
  margin-right: 30px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: grey;
  font-size: 13px;
}

.assortment label:hover {
  color: aqua;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.assortment__items a {
  margin-top: 56px;
  display: inline-block;
  margin-right: 60px;
  text-decoration: none;
  color: grey;
  font-size: 13px;
}

.assortment__items a:hover {
  color: aqua;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.assortment__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 62px;
  width: 100%;
  max-height: 1235px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 64px;
}

.assortment__shop-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.assortment__front,
.assortment .assortment__back,
.assortment .assortment__front-big-picture,
.assortment .assortment__back-big-picture {
  opacity: 0;
  position: absolute;
  left: 71%;
  top: 28px;
  width: 86px;
  height: 106px;
}

.assortment__back {
  top: 145px;
}

.assortment__swit-mobile {
  display: none;
}

.assortment__front-big-picture,
.assortment .assortment__back-big-picture {
  left: 83%;
  top: 28px;
}

.assortment__back-big-picture {
  top: 145px;
}

.assortment__hint-1,
.assortment .assortment__hint-2 {
  display: none;
  -webkit-box-shadow: 0px 17px 24px 0px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 17px 24px 0px rgba(0, 0, 0, 0.14);
  background-color: white;
  position: absolute;
  width: 91.5%;
  height: 154px;
  z-index: 3;
}

.assortment__hint-1 span,
.assortment .assortment__hint-2 span {
  color: #727272;
  text-transform: uppercase;
  line-height: 2.538;
  text-align: center;
  width: 311px;
  height: 12px;
  font-size: 13px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.assortment__hint-1 p,
.assortment .assortment__hint-2 p {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #8e8c8c;
  line-height: 1.467;
  text-align: center;
}

.assortment__hint-1 .assortment__circle-row,
.assortment .assortment__hint-2 .assortment__circle-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.assortment__hint-2 {
  width: 95.5%;
}

.assortment__shop-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.assortment #shop-block-2 {
  display: none;
}

.assortment__first-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.assortment__second-part {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.assortment__first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.assortment__second-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.assortment__images-1 {
  position: relative;
  width: 50%;
  padding: 18px 18px;
}

.assortment__images-1:hover .assortment__back {
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.assortment__images-1:hover .assortment__front {
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.assortment__images-2 {
  position: relative;
  width: 50%;
  padding: 18px 18px;
}

.assortment__images-2:hover .assortment__back {
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.assortment__images-2:hover .assortment__front {
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.assortment__images-3 {
  position: relative;
  width: 100%;
  padding: 18px 18px;
}

.assortment__images-3:hover .assortment__back-big-picture {
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.assortment__images-3:hover .assortment__front-big-picture {
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.assortment img {
  width: 100%;
  height: 100%;
}

.assortment__price-1,
.assortment .assortment__price-2,
.assortment .assortment__price-3 {
  color: #bdbdbd;
  position: absolute;
  font-size: 21px;
  font-weight: 500;
  top: 30px;
  left: 30px;
}

.assortment__price-1 sup,
.assortment .assortment__price-2 sup,
.assortment .assortment__price-3 sup {
  font-size: 11px;
}

.assortment__price-2,
.assortment .assortment__price-3 {
  display: none;
}

@media (max-width: 767px) {
  .assortment__shop-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .assortment__front-big-picture {
    display: none;
  }
  .assortment__back-big-picture {
    display: none;
  }
  .assortment__back {
    display: none;
  }
  .assortment__front {
    display: none;
  }
  .assortment__first-part {
    width: 100%;
  }
  .assortment__second-part {
    width: 100%;
  }
  .assortment__swit-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .assortment__swit-desctop {
    display: none;
  }
}

@media (max-width: 500px) {
  .assortment__items {
    line-height: 1.8;
    text-align: center;
  }
  .assortment__first-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .assortment__images-1 {
    width: 100%;
  }
  .assortment__images-2 {
    width: 100%;
  }
  .assortment__second-row {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .assortment__images-3 {
    min-height: 370px;
  }
  .assortment__images-3 img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0 0;
       object-position: 0 0;
  }
}

.show-now {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  width: 100%;
}

.show-now .lookbook {
  background-color: #f8f8f8;
  position: relative;
  width: 33.3333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 532px;
}

.show-now .lookbook img {
  width: 100%;
  height: 100%;
}

.show-now .lookbook .lookbook__text {
  display: inline-block;
  position: absolute;
  font-size: 15px;
  text-align: right;
  color: grey;
  right: 58px;
  width: 70%;
}

.show-now .lookbook .lookbook__text .lookbook__mens {
  font-size: 48px;
  font-weight: 900;
  color: #575153;
}

.show-now .lookbook .lookbook__text .lookbook_mens-bottom {
  font-size: 48px;
  font-weight: 400;
  color: #575153;
}

.show-now .lookbook .lookbook__button {
  border: 1px solid #575153;
  font-size: 16px;
  color: #575153;
  width: 179px;
  height: 58px;
  text-align: center;
  padding-top: 18px;
  float: right;
  margin-top: 32px;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.show-now .lookbook .lookbook__button:hover {
  background-color: #00c8c8;
  border: none;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.show-now .lookbook__second-view {
  margin: 0 28px;
  max-width: 33.333%;
}

footer {
  margin-top: 125px;
  background-color: #f8f8f8;
  display: inline-block;
  display: none;
  width: 100%;
}

footer .links-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 64px 0px;
  padding: 0 14%;
  color: #727272;
  line-height: 29px;
  font-size: 14px;
}

footer .links-menu div {
  margin-right: 96px;
}

footer .links-menu div span {
  color: #575153;
  line-height: 40px;
  font-weight: 600;
}

footer .links-menu div a {
  color: #727272;
  text-decoration: none;
}

footer .social-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 14%;
}

footer .social-row .social-row__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #333333;
  width: 570px;
  height: 200px;
  margin-right: 30px;
}

footer .social-row .social-row__banner p {
  font-size: 36px;
  color: white;
  font-weight: 400;
  margin-left: 12%;
  text-align: center;
}

footer .social-row .social-row__banner p span {
  font-weight: 900;
}

footer .social-row .social-row__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #00c8c8;
  width: 570px;
  height: 200px;
  color: white;
}

footer .social-row .social-row__icons .social-row__icons-row {
  margin-top: 16%;
  padding-left: 26%;
}

footer .social-row .social-row__icons i {
  margin-right: 58px;
  font-size: 35px;
}

footer .social-row .social-row__icons a {
  text-decoration: none;
  color: white;
}

footer .Avenue-fashion {
  color: #777777;
  font-weight: 600;
  font-size: 13px;
  margin-top: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 46px;
  background-color: #333333;
  width: 100%;
}

footer .Avenue-fashion .Avenue-fastion__avtor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .Avenue-fashion .Avenue-fastion__avtor :last-child {
  margin-left: 38px;
}
