.view-product__gallery {
  position: relative;
  width: 570px;
  height: 712px;
  overflow: hidden;
}

.view-product__slides {
  width: 2280px;
  height: 712px;
}

.view-product__arrows-row {
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 40%;
  left: 0;
  z-index: 2;
}

.view-product__left-arrow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 49px;
  height: 54px;
}

.view-product__left-arrow img {
  width: 19px;
  height: 27px;
  margin: auto;
}

.view-product__left-arrow:hover {
  background-color: #00c8c8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.view-product__right-arrow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: center;
  width: 49px;
  height: 54px;
  z-index: 2;
}

.view-product__right-arrow img {
  width: 19px;
  height: 27px;
  margin: auto;
}

.view-product__right-arrow:hover {
  background-color: #00c8c8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
