* {
  box-sizing: border-box;
}

.nav {
  display: inline-block;
  margin-left: 315px;
}

.nav-mobile {
  display: none;
  position: absolute;
  width: 50%;
  top: 0;
  left: 0;
  height: 100%;
}

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  color: #fff;
  margin-left: 40px;
  font-family: Raleway;
}

ul li a:hover {
  color: #061e37;
}

.ButtonBuyNow, .TryForFree, .GetStartedCustomers {
  width: 150px;
  height: 50px;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  padding-top: 17px;
  margin-top: 37px;
  margin-right: 28px;
  transition: 0.8s;
  font-family: Raleway;
}

.ButtonBuyNow:hover {
  cursor: pointer;
}

.TryForFree:hover {
  cursor: pointer;
}

.GetStartedCustomers:hover {
  cursor: pointer;
}

.ButtonBuyNow a, .TryForFree a, .GetStartedCustomers a {
  color: #061e37;
  text-decoration: none;
}

.video-container {
  color: #fff;
  display: inline-block;
  box-sizing: border-box;
  margin-top: 125px;
}

.string div {
  display: inline-block;
}

#colorstring {
  margin-top: 100px;
}

#Lorem {
  line-height: 1.7;
  margin-top: 90px;
}

#TitleLorem {
  font-size: 40px;
  font-weight: 900;
}

#titleProject1 {
  font-size: 45px;
  line-height: 0.8;
  font-weight: 600;
  color: #061e37;
}

#usefullfirstpict {
  padding-left: 40%;
}

#ikons {
  max-width: 1440px;
  margin: 0 auto;
}

#servicestitle {
  font-size: 45px;
  font-weight: 600;
  color: #061e37;
}

#titletext {
  text-align: center;
  color: grey;
}

#Statisticshidetext {
  display: none;
}

#Statisticimgaroundtext, #INBOXimgaroundtext, #TEAMimgaroundtext {
  display: none;
  float: left;
  margin-left: 25px;
}

.statdivright {
  margin-left: 670px;
  position: absolute;
  margin-top: 10px;
}

.inboxdivright {
  margin-left: 670px;
  position: absolute;
  margin-top: 10px;
}

#INBOXhidetext, #INBOXimgaroundtext, #TEAMhidetext, #TEAMimgaroundtext {
  display: none;
}

.title {
  font-size: 45px;
  font-family: Raleway;
  margin-bottom: 30px;
  color: #061e37;
  font-weight: 600;
  display: block;
  text-align: center;
}

.first-image, .third-image {
  opacity: 0.4;
  width: 116px;
  height: 115px;
  margin-top: 41px;
}

.second-image {
  width: 196px;
  height: 179px;
}

.textarea {
  resize: none;
  width: 600px;
  height: 152px;
  color: #061e37;
}

.checkbox {
  margin-left: 9.5%;
  margin-right: 10px;
  display: inline-block;
}

.logo-text span {
  font-size: 15px;
  color: white;
  font-weight: 200;
}

.logo-text {
  font-family: Raleway;
  font-size: 15px;
  color: white;
  font-weight: 800;
}

.links a {
  text-decoration: none;
  color: #384b5f;
  font-size: 15px;
  font-family: Raleway;
}

.text {
  display: inline-block;
  font-family: Raleway;
  font-size: 15px;
  color: grey;
  line-height: 2;
}

body {
  margin: 0;
}

.menu-burger {
  display: none;
}

.string {
  position: relative;
}

.social i {
  margin-left: 19px;
}
.social a {
  text-decoration: none;
  color: grey;
}

.header {
  background-image: url("../img/header.png");
  max-width: 1600px;
  margin: 0 auto;
  font-size: 15px;
  height: 745px;
  padding: 0 3%;
  position: relative;
}
.header__LeftPartVidAndTitle {
  float: left;
  display: inline-block;
}
.header__zluka {
  display: inline-block;
  font-family: Raleway;
}
.header__zluka a {
  color: #fff;
  text-decoration: none;
}
.header__sign {
  margin-left: 20%;
  border: 1px solid #fff;
  border-radius: 5px;
  font-family: Raleway;
  padding: 3px 13px;
  display: inline-block;
  font-family: Raleway;
}
.header__sign a {
  color: #fff;
  text-decoration: none;
}
.header p {
  color: #fff;
}
.header__title {
  color: white;
  margin-top: 165px;
  display: inline-block;
  box-sizing: border-box;
  font-family: Raleway;
}
.header__title p {
  font-size: 19px;
}
.header__RightPartVidTitle {
  float: right;
  display: inline-block;
}
.header nav {
  display: inline-block;
  margin-left: 315px;
}

.useful {
  max-width: 1600px;
  margin: 0 auto;
}
.useful__EasyandUseful {
  text-align: center;
  color: grey;
  line-height: 1.5;
}
.useful__firstcolor {
  background-color: #80d8ff;
  width: 25%;
  height: 150px;
}
.useful__firstcolor img {
  margin-top: 45px;
  margin-left: 90px;
  float: left;
}
.useful__firstcolor p {
  padding-top: 10%;
  margin-left: 30px;
  margin-top: 20px;
  float: right;
  margin-right: 95px;
  color: white;
  font-weight: bold;
}
.useful__secondstcolor {
  background-color: #82b1ff;
  width: 25%;
  height: 150px;
  margin-left: -5px;
}
.useful__secondstcolor img {
  margin-top: 45px;
  margin-left: 90px;
  float: left;
}
.useful__secondstcolor p {
  padding-top: 10%;
  margin-left: 30px;
  margin-top: 20px;
  float: right;
  margin-right: 95px;
  color: white;
  font-weight: bold;
}
.useful__thirdstcolor {
  background-color: #b388ff;
  width: 25%;
  height: 150px;
  margin-left: -5px;
}
.useful__thirdstcolor img {
  margin-top: 45px;
  margin-left: 90px;
  float: left;
}
.useful__thirdstcolor p {
  padding-top: 10%;
  margin-left: 30px;
  margin-top: 20px;
  float: right;
  margin-right: 95px;
  color: white;
  font-weight: bold;
}
.useful__fourthstcolor {
  background-color: #ea80fc;
  width: 25%;
  height: 150px;
  margin-left: -5px;
}
.useful__fourthstcolor img {
  margin-top: 45px;
  margin-left: 90px;
  float: left;
}
.useful__fourthstcolor p {
  padding-top: 10%;
  margin-left: 30px;
  margin-top: 20px;
  float: right;
  margin-right: 95px;
  color: white;
  font-weight: bold;
}
.useful__EasyandUseful {
  text-align: center;
  color: grey;
  line-height: 1.5;
}
.useful__secondtusefull {
  margin-left: 16%;
}
.useful__thirdtusefull {
  margin-left: 15%;
}
.useful__firstusefull p, .useful .useful__secondtusefull p, .useful .useful__thirdtusefull p {
  color: grey;
  text-align: center;
}
.useful__firstusefull span, .useful .useful__secondtusefull span, .useful .useful__thirdtusefull span {
  font-size: 20px;
  color: black;
}

.services {
  margin-top: 50px;
}
.services__statistics, .services .services__inbox, .services .services__team {
  box-shadow: 1px 1px 10px grey;
  border-radius: 5px;
  max-width: 800px;
  margin: 0 auto;
  height: 45px;
  margin-top: 20px;
}
.services__stasistics p, .services .services__inbox p, .services .services__team p {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}
.services__Statisticsimg {
  float: right;
  padding-top: 9px;
  padding-right: 10px;
}
.services__stasistics {
  box-shadow: 1px 1px 10px grey;
  border-radius: 5px;
  max-width: 800px;
  margin: 0 auto;
  height: 45px;
  margin-top: 20px;
}
.services__inboxdivright {
  margin-left: 670px;
  position: absolute;
  margin-top: 10px;
}
.services__statdivright {
  margin-left: 670px;
  padding-top: 9px;
  padding-right: 10px;
  position: absolute;
}

.customers {
  display: flex;
  width: 100%;
  overflow: hidden;
  max-width: 1600px;
  min-height: 565px;
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 20px;
  background-image: url("../img/fontsforcustoms.png");
}
.customers__column-1 {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.customers__column-2 {
  width: 60%;
  position: relative;
  padding-left: 8%;
}
.customers__title {
  display: block;
  margin-top: 133px;
  font-size: 45px;
  font-family: Raleway;
  color: white;
  line-height: 1.2;
  text-align: center;
}
.customers__white-text {
  color: white;
  margin-top: 35px;
  text-align: center;
  line-height: 2;
  display: block;
}
.customers__button {
  background-color: white;
  text-decoration: none;
  color: #061e37;
  padding: 22px 24px 22px 28px;
  border-radius: 5px;
  font-family: Releway;
  font-size: 15px;
  margin-top: 83px;
  margin-left: 66px;
  transition: 0.8s;
  width: 165px;
  text-align: center;
}
.customers__button:hover {
  color: white;
  background-color: #061e37;
}
.customers__main-row {
  display: flex;
  flex-direction: column;
}
.customers__row {
  display: flex;
  align-self: center;
}
.customers__border-for-hidden {
  overflow: hidden;
  height: 405px;
}
.customers__arrow-up {
  display: block;
  margin-bottom: 20px;
  padding-top: 5px;
  cursor: pointer;
}
.customers__arrow-up img {
  margin-left: 50%;
}
.customers__arrow-down img {
  margin-left: 50%;
}
.customers__block {
  display: inline-block;
  background-color: white;
  height: 165px;
  width: 650px;
  border-radius: 5px;
  box-shadow: 0 5px 10px grey;
  margin-bottom: 75px;
  margin-right: 66px;
}
.customers__img {
  display: inline-block;
  height: 100%;
  margin-top: 40px;
}
.customers__img img {
  margin-right: 4px;
  margin-top: 5px;
}
.customers__block .text {
  margin-left: 35px;
  margin-top: 25px;
}
.customers span {
  font-size: 18px;
  color: #061e37;
  font-weight: bold;
}
.customers__arrow-down {
  margin-top: 15px;
  display: block;
  cursor: pointer;
}
.customers__border-for-hidden {
  overflow: hidden;
  height: 405px;
}

.our-team {
  max-width: 1600px;
  padding-top: 50px;
  margin: 0 auto;
}
.our-team__text {
  margin-left: 35%;
  text-align: center;
  margin-bottom: 100px;
}
.our-team__images {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.our-team__images img {
  margin-left: 25px;
}
.our-team__images img:hover {
  cursor: pointer;
  transform: scale(1.01);
  transition: 0.5s;
}
.our-team__shadow {
  opacity: 0.4;
  width: 116px;
  height: 115px;
  margin-top: 41px;
}
.our-team__text-bottom span {
  color: #061e37;
  margin-left: -5%;
  font-size: 18px;
  font-weight: 700;
  font-family: Raleway;
  margin-bottom: 25px;
}
.our-team__text-bottom {
  margin-left: 32%;
  text-align: center;
  margin-bottom: 70px;
  position: relative;
  display: flex;
  justify-content: center;
  height: 75px;
  margin-left: 45px;
}
.our-team__text-bottom div {
  position: absolute;
  display: block;
  text-align: center;
}
.our-team__text-bottom-1, .our-team .our-team__text-bottom-3 {
  opacity: 0;
}
.our-team__social {
  display: block;
  margin-left: 44%;
  color: grey;
  margin-top: 30px;
  font-size: 25px;
  padding-bottom: 75px;
}
.our-team__social i {
  margin-left: 19px;
}
.our-team__social a {
  text-decoration: none;
  color: grey;
}

.send {
  display: none;
  display: inline-block;
  padding: 16px 46px;
  background-color: #1fe6b4;
  border-radius: 3px;
  text-decoration: none;
  color: white;
  box-shadow: 0.3px 0.3px 6px 0px grey;
  margin-left: 17.5%;
  margin-bottom: 24px;
}

.contact {
  display: flex;
  padding-top: 25px;
  flex-direction: column;
  align-items: center;
  height: 870px;
  background-color: #fafafa;
  max-width: 1600px;
  margin: 0 auto;
}
.contact__text {
  color: #061e37;
  text-align: center;
  margin-bottom: 50px;
}
.contact__row {
  display: flex;
}
.contact__form-text {
  width: 280px;
  height: 52px;
  display: inline-block;
  margin-left: 40px;
  margin-bottom: 25px;
  color: #061e37;
}
.contact__row-textarea {
  display: block;
  margin-left: 36px;
}
.contact__text2 {
  display: inline-block;
  color: #061e37;
}
.contact__send {
  display: inline-block;
}
.contact__check-container {
  display: inline-flex;
  align-items: center;
  margin-top: 42px;
  width: 60%;
}
.contact__form-text {
  width: 280px;
  height: 52px;
  display: inline-block;
  margin-left: 40px;
  margin-bottom: 25px;
  color: #061e37;
}

.footer {
  background-color: #061e37;
  max-width: 1600px;
  height: 300px;
  margin: 0 auto;
  padding-top: 90px;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  padding: 0px 80px;
  margin-bottom: 60px;
}
.footer__row div {
  display: inline-block;
}
.footer__menu a:hover {
  color: white;
}
.footer__point {
  background-color: white;
  width: 5px;
  height: 5px;
  border-radius: 9px;
  margin: 0px 15px 3px 15px;
}
.footer__social {
  color: #384b5f;
  margin-top: 0;
}

@media (max-width: 1440px) {
  .header__sign {
    margin-left: 7%;
  }
  .header__vid-and-title {
    display: flex;
  }
  .header__LeftPartVidAndTitle {
    width: 50%;
  }
  .header__RightPartVidTitle {
    width: 50%;
  }
  .header nav {
    margin-left: 15%;
  }
  .video-container {
    width: 100%;
  }
  .video-container video {
    width: 100%;
  }
  .useful .string {
    display: flex;
  }
  .useful__firstcolor, .useful .useful__secondstcolor, .useful .useful__fourthstcolor {
    position: relative;
  }
  .useful__firstcolor img, .useful .useful__secondstcolor img, .useful .useful__fourthstcolor img {
    margin-top: 38px;
    margin-left: 18px;
    position: absolute;
  }
  .useful__thirdstcolor {
    position: relative;
  }
  .useful__thirdstcolor img {
    margin-top: 38px;
    margin-left: 10px;
    position: absolute;
  }
  .customers {
    flex-direction: column;
  }
  .customers__column-1 {
    width: 100%;
  }
  .customers__white-text {
    font-size: 25px;
  }
  .customers__button {
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 40px;
  }
  .customers__column-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }
  .customers__block {
    width: 80%;
    max-width: 700px;
  }
  .customers__block .text {
    font-size: 20px;
  }
  .customers__arrow-up, .customers__arrow-down {
    left: 40%;
  }
  .customers__row {
    flex-direction: row;
  }
  .customers__block .text {
    line-height: 1.2;
  }
  .our-team .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .our-team__text {
    margin-left: 0%;
  }
  .our-team__text-bottom {
    margin-left: 0;
    width: 55%;
  }
  .our-team__social {
    margin-left: 0;
  }
  .title {
    margin-left: 0;
  }
  .contact {
    height: 600px;
  }
}
@media (max-width: 1024px) {
  .header__sign {
    margin-left: 3%;
  }
  nav {
    margin-left: 10%;
  }
  #TitleLorem {
    line-height: 46px;
  }
  #Lorem {
    line-height: 1.7;
    width: 85%;
  }
  .useful__firstcolor, .useful .useful__secondstcolor, .useful .useful__fourthstcolor {
    position: relative;
    height: 130px;
  }
  .useful__firstcolor img, .useful .useful__secondstcolor img, .useful .useful__fourthstcolor img {
    width: 50px;
  }
  .useful__firstcolor p, .useful .useful__secondstcolor p, .useful .useful__fourthstcolor p {
    margin-right: 26%;
  }
  .useful__thirdstcolor {
    height: 130px;
    position: relative;
  }
  .useful__thirdstcolor img {
    width: 50px;
  }
  .useful__thirdstcolor p {
    margin-right: 23%;
  }
  .services__stasistics, .services .services__inbox, .services .services__team {
    max-width: 700px;
    width: 90%;
  }
  .services__statdivright, .services .services__inboxdivright, .services .inboxdivright {
    margin-left: 80%;
  }
  .hide-text {
    display: flex;
    flex-wrap: wrap;
  }
  .customers__row {
    display: flex;
    align-items: center;
  }
  .customers__block {
    margin-right: 0px;
  }
  .text {
    line-height: 1.4;
  }
}
@media (max-width: 768px) {
  .header__sign {
    display: none;
  }
  .header nav {
    display: none;
  }
  .nav-mobile {
    display: block;
    position: absolute;
    width: 52%;
    top: 0;
    left: -60%;
    transition: 0.3s;
    background: white;
    height: 100%;
  }
  .nav-mobile nav {
    margin-left: 0%;
    width: 100%;
  }
  .nav-mobile ul li a {
    color: #061e37;
  }
  .nav-mobile ul li {
    display: inline-block;
    width: 100%;
    font-size: 25px;
    margin-bottom: 13px;
    padding-bottom: 13px;
    border-bottom: 1px solid black;
  }
  .nav-mobile nav {
    display: flex;
  }
  .menu {
    display: flex;
    flex-direction: column;
    padding-left: 2px;
    width: 100%;
  }
  .useful .string {
    flex-direction: column;
  }
  .useful__secondtusefull {
    margin-left: 0;
  }
  .useful__thirdtusefull {
    margin-left: 0;
  }
  .useful__firstcolor, .useful .useful__secondstcolor, .useful .useful__fourthstcolor {
    height: 150px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .useful__firstcolor p, .useful .useful__secondstcolor p, .useful .useful__fourthstcolor p {
    font-size: 25px;
    margin-top: 30px;
    text-align: center;
    width: 100%;
    height: 100%;
    float: none;
    padding-top: 0;
    margin-left: 0;
  }
  .useful__thirdstcolor {
    height: 150px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .useful__thirdstcolor p {
    font-size: 25px;
    margin-top: 30px;
    text-align: center;
    width: 100%;
    height: 100%;
    float: none;
    margin-left: 0;
    padding-top: 0;
  }
  .useful__thirdstcolor img {
    margin-left: 18px;
  }
  .services__statdivright, .services .services__inboxdivright, .services .inboxdivright {
    margin-left: 0;
    right: 3%;
    padding-right: 0;
  }
  .customers__block {
    width: 80%;
    max-width: 700px;
  }
  .customers__img img {
    width: 50px;
  }
  .customers__block .text {
    font-size: 15px;
  }
  .our-team__images img {
    margin-left: 10px;
  }
  .our-team__text {
    margin-bottom: 50px;
  }
  .our-team__text-bottom {
    width: 70%;
  }
  .contact__row {
    display: flex;
    padding-right: 36px;
  }
  .contact__form-text {
    width: 150px;
    height: 40px;
  }
  .footer {
    padding-top: 35px;
  }
  .footer__row {
    display: flex;
    padding: 0px 4%;
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: center;
  }
  .footer .logo {
    display: flex;
    justify-content: center;
  }
  .footer .logo img {
    margin-right: 13px;
    width: 30px;
    height: 30px;
  }
  .footer__menu {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-right: 7%;
  }
  .footer__menu li {
    margin-bottom: 7px;
    text-align: center;
  }
  .footer .links {
    display: none;
  }
  .footer__social {
    margin: 0 auto;
  }
  .textarea {
    width: 91%;
  }
  .checkbox {
    margin-left: 16.5%;
  }
  .send {
    margin-left: 3.5%;
  }
  .second-image {
    width: 156px;
    height: 129px;
  }
  .first-image, .third-image {
    opacity: 0.4;
    width: 56px;
    height: 55px;
    margin-top: 41px;
  }
  .nav-mobile.active {
    left: 0;
    transition: 0.3s;
  }
  .menu-burger {
    display: flex;
    position: relative;
    z-index: 4;
    width: 40px;
    height: 20px;
    margin-top: 14px;
    margin-left: 30px;
    float: right;
  }
  .menu-burger span {
    position: absolute;
    left: 0;
    top: 8px;
    width: 100%;
    height: 3px;
    background-color: white;
    z-index: 3;
    transition: 0.3s;
  }
  .menu-burger:before {
    content: "";
    position: absolute;
    background-color: white;
    width: 100%;
    height: 3px;
    top: 0;
    left: 0;
    transition: 0.3s;
  }
  .menu-burger:after {
    content: "";
    display: inline-flex;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
  }
  .menu-burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .menu-burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .menu-burger.active span {
    transform: scale(0);
  }
}
@media (max-width: 425px) {
  .header {
    height: auto;
  }
  .header__vid-and-title {
    display: flex;
    flex-direction: column;
  }
  .header__LeftPartVidAndTitle {
    width: 100%;
  }
  .header__RightPartVidTitle {
    width: 100%;
  }
  #ButTry {
    padding-left: 3%;
  }
  .video-container {
    margin-top: 50px;
  }
  .customers {
    flex-direction: column;
    min-height: 565px;
  }
  .customers__title {
    margin-top: 10%;
    margin-left: 10%;
    font-size: 28px;
    line-height: 1.2;
  }
  .customers__white-text {
    font-size: 20px;
    line-height: 1.5;
    margin-left: 11%;
  }
  .customers__img img {
    width: 45px;
  }
  .customers__block .text {
    font-size: 15px;
    margin-left: 18px;
    margin-top: 10px;
  }
  .our-team__text-bottom {
    margin-bottom: 90px;
  }
  .contact__row {
    padding-right: 20px;
  }
  .contact__form-text {
    width: 130px;
    height: 40px;
    margin-left: 25px;
  }
  .contact__row-textarea {
    margin-left: 27px;
  }
  .text {
    font-size: 13px;
    padding: 0 2%;
  }
  .textarea {
    width: 93%;
  }
  .checkbox {
    margin-left: 16.5%;
  }
  .send {
    padding: 10px 26px;
    margin-left: 3.5%;
  }
}/*# sourceMappingURL=style.css.map */