*{
	box-sizing: border-box;
}
.zluka, .sign{
	display: inline-block;
	font-family: Raleway;
}
main-conntainer{
		
}
nav {
	display: inline-block;
	margin-left: 315px;
}
ul li {
	display: inline-block;
}
ul li a {
	text-decoration: none;
	color: #fff;
	margin-left:  40px;
	font-family: Raleway;
}
ul li a:hover {
	color:#061e37;
}
header{
	background-image: url('../img/header.png');
	max-width: 1600px;
	margin: 0 auto;
	font-size: 15px;
}
body{
	
}
header p {color: #fff;}
.zluka a, .sign a {
	color:#fff;
	text-decoration: none;
}
.sign{
	margin-left: 340px;
	border: 1px solid #fff;
	border-radius: 5px;
	font-family: Raleway;
	padding: 3px 13px;
}
.head{
	max-width: 1440px;
	margin: 0 auto;
	height: 745px;
}
.header__title{ 
	color: white;
	margin-top: 165px;
	display: inline-block;
	box-sizing: border-box;
	font-family: Raleway;
}
.title span {
	
}
.title p{
	font-size: 19px;
}
.ButtonBuyNow, .TryForFree, .GetStartedCustomers{
	width: 150px;
	height: 50px;
	background-color: white;
	border-radius: 5px;
	text-align: center;
	padding-top: 17px;
	margin-top: 37px;
	margin-right: 28px;
	transition: 0.8s;
	font-family: Raleway;
}
.ButtonBuyNow:hover{
	cursor:pointer;
}
.TryForFree:hover{
	cursor:pointer;
}
.GetStartedCustomers:hover{
	cursor:pointer;
}
.ButtonBuyNow a, .TryForFree a, .GetStartedCustomers a{
	color :#061e37;
	text-decoration: none;
}
.video-container {
	/*background:#000;
	/*width:600px;*/
	/*height: 210px;*/
	color:#fff;
	display: inline-block;
	box-sizing: border-box;
	margin-top: 125px;
}

.string div {
	display: inline-block;
}
.firstcolor{
	background-color: #80d8ff;
	width: 25%;
	height: 150px;
}
.secondstcolor{
	background-color: #82b1ff;
	width: 25%;
	height: 150px;
	margin-left: -5px;
}
.thirdstcolor{
	background-color: #b388ff;
	width: 25%;
	height: 150px;
	margin-left: -5px;
}
.fourthstcolor{
	background-color: #ea80fc;
	width: 25%;
	height: 150px;
	margin-left: -5px;
}
#colorstring{
	margin-top: 100px;
}
.firstcolor img, .secondstcolor img, .thirdstcolor img, .fourthstcolor img{
	margin-top: 45px;
	margin-left: 90px;
	float:left;
}
.firstcolor p, .secondstcolor p, .thirdstcolor p, .fourthstcolor p{
	padding-top: 10%;
	margin-left: 30px;
	margin-top:20px;
	float:right;
	margin-right: 95px;
	color: white;
	font-weight: bold;
}
.LeftPartVidAndTitle{
	float: left;
	display: inline-block;
}
.RightPartVidTitle{
	float:right;
	display: inline-block;
}
#Lorem{
	line-height: 1.7;
	margin-top:  90px;
}
#TitleLorem{
	font-size: 40px;
	font-weight: 900;
}
.EasyandUseful{
	text-align: center;
	color:grey;
	line-height: 1.5;
}
#titleProject1{
	font-size: 45px;
	line-height: 0.8;
	color: black;	
}
#titleProject2{
	font-size: 25px;
	line-height: 0.8;
	color: grey;
}
.secondtusefull{
	margin-left: 16%;
}
.thirdtusefull{
	margin-left: 15%;
}
.firstusefull p, .secondtusefull p, .thirdtusefull p{
	color: grey;
	text-align: center;
}
.firstusefull span, .secondtusefull span, .thirdtusefull span {
	font-size: 20px;
	color: black;
}
#usefullfirstpict{
	padding-left: 40%;
}
#ikons{
	max-width: 1440px;
	margin:0 auto;
}
.ButtonTryForFreeStarted{
	width: 150px;
	height: 60px;
	border-radius: 5px;
	background-color: #1de9b6;
	margin-left: 45%;
	padding-top: 1%;
	box-shadow: 0px 5px 8px grey;
	margin-top: 80px;
}

.ButtonGetStarted a{
	text-decoration: none;
	color:white;
	padding-left: 15%;
	font-family: Raleway;
}
.Useful{
	max-width: 1600px;
	margin: 0 auto;
}
.services{
	margin-top: 100px;
	 
}
#servicestitle{
	font-size: 45px;
	color:black;
}
#titletext{
	text-align: center;
	color:grey;
}
.Stasistics, .Inbox, .Team{
	box-shadow: 1px 1px 10px grey;
	border-radius: 5px;
	max-width: 800px;
	margin: 0 auto;	 
	height: 45px;
	margin-top: 20px;
}
.Stasistics p, .Inbox p, .Team p{
	float: left;
	margin-top: 1px;
	margin-left: 10px;
}
#Statisticshidetext{
	display:none;
}
.Statisticsimg{
	
	float: right;
	padding-top: 9px;
	padding-right: 10px;
}
#Statisticimgaroundtext,  #INBOXimgaroundtext, #TEAMimgaroundtext  {
	display: none;
	float: left;
	margin-left: 25px;
}
.statdivright{
	margin-left: 670px;
	position: absolute;
	margin-top: 10px;
}
.inboxdivright{
	margin-left: 670px;
	position: absolute;
	margin-top: 10px;
}

#INBOXhidetext, #INBOXimgaroundtext, #TEAMhidetext, #TEAMimgaroundtext {
	display: none;
}






/*//////////////////////////////////////
Customers

//////////////////////////////////*/
.block__customers{
	display: block;
	margin-top: 100px;
}
.customers{
	overflow: hidden;
	margin-top: 100px;
	width:1600px;
	height: 565px;
	background-image: url('../img/fontsforcustoms.png');
	margin: 0 auto;
	display: flex;
}
.customers__column-1{
	width: 40%;
}
.customers__column-2{
	width: 60%;	
	position: relative;
}
.customers__title{	
	display: block;
	margin-top: 133px;
	margin-left: 66px;
	font-size: 45px;
	font-family: Raleway;
	color:white;
	line-height: 1.2;
}
.text{
	display: inline-block;
	font-family: Raleway;
	font-size: 15px;
	color:grey;
	line-height: 2;
}
.customers__white-text{
	color:white;
	margin-top: 35px;
	margin-left: 66px;
	line-height: 2;
}
.customers__button{	
	background-color:white;
	text-decoration: none;
	color:#061e37;
	padding: 22px 24px 22px 28px;
	border-radius: 5px;
	font-family: Releway;
	font-size: 15px;
	margin-top: 83px;
	display: inline-block;
	margin-left: 66px;
	transition: 0.8s;
}
.customers__button:hover{
	color:white;
	background-color: #061e37;
}
.customers__row, .custommers__main-row{
	display: block;
	float: right;
	position: relative;		
}
.custommers__main-row:hover{
	
}
.custommers__border-for-hidden{
	overflow: hidden;
	height: 405px;
}
.customers__arrow-up{
	display: block;
	padding-top:  40px;
	padding-bottom: 35px;
	padding-left: 60%;
}
.customers__row img{
	display: inline-block;
	position: absolute;
	margin-right: 50px;
	top: 38px;
	left: -109px;
}
.customers__block{
	display: inline-block;
	background-color: white;
	height: 165px;
	width: 650px;
	border-radius: 5px;
	box-shadow: 0 5px 10px grey;
	margin-bottom: 75px;	
	margin-right: 66px;
}
.customers__block .text{
	margin-left: 35px;
	margin-top: 25px;
}
.customers span{
	font-size: 18px;
	color: #061e37;	
	font-weight: bold;
}
.customers__arrow-down{
	display: inline-block;
	position: absolute;
	top: 95%;
	left: 60%;
}






/*//////////////////////////////////////
Our Team

//////////////////////////////////*/
.Our-Team{
	max-width: 1600px;
	margin: 0 auto;
}

.title{
	font-size: 45px;
	font-family: Raleway;
	margin-bottom: 30px;
	color: 	#061e37;
	font-weight: 600;
	display: block;
	margin-left: 45%;
}
.Our-Team__text{
	margin-left: 35%;
	text-align: center;
	margin-bottom: 100px;
}
.Our-Team__images{
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}
.Our-Team__images img{
	margin-left: 25px;
}
.Our-Team__images img:hover{
	cursor: pointer;
	transform: scale(1.01);
	transition: 0.5s;
}
.Our-Team__shadow{
	opacity: 0.4;
	width: 116px;
	height: 115px;
	margin-top: 41px;
}
.first-image,.third-image {
	opacity: 0.4;
	width: 116px;
	height: 115px;
	margin-top: 41px;
}
.second-image{
	width: 196px;
	height: 179px;
}
.Our-Team__text-bottom span{
	color: #061e37;
	margin-left: -5%;
	font-size: 18px;
	font-weight: 700;
	font-family: Raleway;
	margin-bottom: 25px;
}
.Our-Team__text-bottom{
	margin-left: 32%;
	text-align: center;
	margin-bottom: 70px;
	position: relative;
	display: block;
	height: 75px;
}
.Our-Team__text-bottom div{
	position: absolute;
	display: block;
	text-align: center;
}
.Our-Team__text-bottom-1, .Our-Team__text-bottom-3 {
	opacity: 0;
}

.social{
	display: block;
	margin-left: 44%;
	color: grey;
	margin-top: 30px;
	font-size: 25px;	
	padding-bottom: 75px;
}
.social i{
	margin-left: 19px;
}
.social a{
	text-decoration: none;
	color: grey;
}




/*//////////////////////////////////////
Contact Us
//////////////////////////////////*/
.Contact-us{
	height: 870px;
	background-color: #fafafa;
	display: block;
	max-width: 1600px;
	margin: 0 auto;
}
.Contact-us__text{
	color: #061e37;	
	margin-left: 36%;
	text-align: center;
	margin-bottom: 50px;
}
.Contact-us__row{
	display: block;
	padding-left: 32%;
}
.Contact-us__form-text{
	width: 280px;
	height: 52px;
	display: inline-block;
	margin-left: 40px;
	margin-bottom: 25px;
	color: #061e37;	
}
.textarea{
	resize: none;
	width: 600px;
	height: 152px;
	color: #061e37;	
}
.Contact-us__row__textarea{
	display: block;
	padding-left: 34.6%;
}
.checkbox{
	margin-left: 57.5%;
	display: inline-block;
}
.Contact-us__text2{
	display: inline-block;
	color: #061e37;	
}
.Contact-us__send{
	display: inline-block;
}
.send{
	display: inline-block;
	padding: 16px 46px;
    background-color: #1fe6b4;
    border-radius: 3px;
    text-decoration: none;
    color: white;
    box-shadow: 0.3px 0.3px 6px 0px grey;
    margin-left: 2.5%;
    margin-bottom: 24px;
}
.Contact-us__check-container{
	display: inline-block;
	margin-top: 42px;
	width: 60%;
}


/*//////////////////////////////////////
footer
//////////////////////////////////*/

.footer{
	background-color: #061e37;
	max-width: 1600px;
	height: 300px;
	margin:0 auto;
	padding-top: 90px;
}
.footer__row{
	display: flex;
	justify-content: space-between;
	padding: 0px 80px;
	margin-bottom: 60px;
}
.footer__row div {
	display: inline-block;
}
.logo-text span{
	font-size: 15px;
	color: white;
	font-weight: 200;

}
.logo-text{
	font-family: Raleway;
	font-size: 15px;
	color: white;
	font-weight: 800;
}
.footer__menu a:hover{
	color:white;
}
.links a{
	text-decoration: none;
	color: #384b5f;
	font-size: 15px;
	font-family: Raleway;
}
.footer__point{
	background-color: white;
    width: 5px;
    height: 5px;
    border-radius: 9px;
    margin: 0px 15px 3px 15px;
}
.footer__social{
	color: #384b5f;
	margin-top: 0;
}
